@import url("container-portrait.css") (max-device-aspect-ratio : 5/8);
@import url("container-landscape.css") (min-device-aspect-ratio : 5/8);

@media (max-device-aspect-ratio:16/9)
{
	.list
	{
		background-color: rgba(0,0,0,0);
	}
}

@media (min-device-aspect-ratio:16/9)
{
	.list
	{
		background-color: rgba(255,255,255,0);
	}
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family:"Microsoft YaHei";
    vertical-align: baseline;
    position: absolute;
    color: #fff;
}


#containerbody{
	width: 100%;
	height: 100%;
	position: fixed;
	background-image: url("http://7xrr54.com1.z0.glb.clouddn.com/bg1.jpg");
	background-size: cover;
}

.mask_bg{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -99;
	background-image: url("http://7xrr54.com1.z0.glb.clouddn.com/bg1.jpg");
	background-size: cover;
	-webkit-filter:blur(5px);
	-moz-filter:blur(5px);
	-o-filter:blur(5px);
	filter:blur(5px);
}

.container_border
{
	position: relative;
	box-shadow: 5px 5px 10px #333;
}
.diskmask
{
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url("../img/梦回还.jpg");
	background-position: center;
	background-size: cover;
	-webkit-filter:blur(15px);
    -moz-filter:blur(15px);
    -o-filter:blur(15px);
	filter:blur(15px);

	z-index: -98;
}
.diskmask>:first-child
{
	z-index: 97;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #aaa;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

.header
{
	width: 100%;
}

#currenttitle,#currentartist
{
	overflow: hidden;
}

.outtervolumebar
{
	width: 100%;
	position: relative;
	display: none;
	z-index:25;
}

.volumebar
{
	justify-content:center;
}

.cursoroutter
{
	overflow: hidden;
	left: 50%;
	z-index: 99;
}

.cursor
{
	position: relative;
	margin-top: -10%;
    background-size: cover;	
	background-image: url("http://7xrr54.com1.z0.glb.clouddn.com/cursor.png");
	transform-origin: 12% 12%;
	transform: rotate(-20deg);
}

@keyframes cursorclockwise 
{
	90%{
		transform: rotate(2deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

@keyframes cursorcounter
{
	90%{
		transform: rotate(-22deg);
	}
	100%{
		transform: rotate(-20deg);
	}
}

.header>:first-child
{
	width: 100%;
	border-bottom: solid 1px #73686c;
}

.header>:first-child>:first-child
{
	width: 100%;
	display: block;
	text-align: center;
}
.header>:first-child>:last-child
{
	width: 100%;
	display: block;
	text-align: center;
}

.share
{
	position: relative;
	float: right;
	background-image: url("../img/share.svg");
	background-size: contain;
	z-index: 10;
	cursor: pointer;
}

.container_border>ul,.container_border>ul>li
{
	width:100%;
	height: 100%; 
	list-style: none;
}

.container_border>ul>li
{
	display: none;
}

.circle
{
	border-radius: 50%;
	background-clip:content-box;
	margin: -57% auto;
	position: relative;
	top: 50%;
}

.disk
{
	background-image: url("../img/梦回还.jpg");
	background-size: cover;
	position: absolute !important;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	animation: diskrotate 30s linear 0s infinite forwards;
	-moz-animation: diskrotate 30s linear 0s infinite forwards;
	-webkit-animation: diskrotate 30s linear 0s infinite forwards;
	-o-animation: diskrotate 30s linear 0s infinite forwards;
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

@keyframes diskrotate
{
	from{
		transform: rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
	}
	to{
		transform: rotate(360deg);
		-webkit-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
	}
}

.diskborder
{
	background-color: #222;
    position: absolute;
    left: 0;
    right: 0;
}

#membersshow
{
	display: none;
    z-index: 20;
}

.containerwrap
{
    overflow: hidden;
}


.containerwrap html,.containerwrap body,.containerwrap div,.containerwrap span,.containerwrap applet,.containerwrap object,.containerwrap iframe,.containerwrap h1,.containerwrap h2,.containerwrap h3,.containerwrap h4,.containerwrap h5,.containerwrap h6,.containerwrap p,.containerwrap blockquote,.containerwrap pre,.containerwrap a,.containerwrap abbr,.containerwrap acronym,.containerwrap address,.containerwrap big,.containerwrap cite,.containerwrap code,.containerwrap del,.containerwrap dfn,.containerwrap em,.containerwrap img,.containerwrap ins,.containerwrap kbd,.containerwrap q,.containerwrap s,.containerwrap samp,.containerwrap small,.containerwrap strike,.containerwrap strong,.containerwrap sub,.containerwrap sup,.containerwrap tt,.containerwrap var,.containerwrap b,.containerwrap u,.containerwrap i,.containerwrap center,.containerwrap dl,.containerwrap dt,.containerwrap dd,.containerwrap ol,.containerwrap ul,.containerwrap li,.containerwrap fieldset,.containerwrap form,.containerwrap label,.containerwrap legend,.containerwrap table,.containerwrap caption,.containerwrap tbody,.containerwrap tfoot,.containerwrap thead,.containerwrap tr,.containerwrap th,.containerwrap td,.containerwrap article,.containerwrap aside,.containerwrap canvas,.containerwrap details,.containerwrap embed,.containerwrap figure,.containerwrap figcaption,.containerwrap footer,.containerwrap header,.containerwrap hgroup,.containerwrap menu,.containerwrap nav,.containerwrap output,.containerwrap ruby,.containerwrap section,.containerwrap summary,.containerwrap time,.containerwrap mark,.containerwrap audio,.containerwrap video
{
	margin: initial;
	padding: initial;
    border: initial;
    font-size: initial;
    font: initial;
    font-family:"Microsoft YaHei";
    vertical-align: initial;
    position: initial;
    color: initial;
}

.active
{
	display: block !important;
}

.controls
{
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.funcs
{
	width: 100%;
	position: relative;
}

.funcs>:first-child
{
	display: flex;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto; 
	width: 80%;
	height: 100%;
	align-items: center;
	justify-content: space-around;
}

.func
{
	position: relative;
	background-size: cover;
	background-clip: content-box;
	cursor: pointer;
    z-index: 10;
}

.love
{
	background-image:url("../img/love.svg"); 
}

.loved
{
	background-image: url("../img/loved.svg");
}

.download
{
	background-image: url("../img/download.svg");
}

.comment
{
	background-image: url("../img/comment.svg");
}

.more
{
	background-image: url("../img/more.svg");
	transform: rotate(-90deg);
}

.outter
{
	display: block;
	height: 100%;
	float: left;
	position: relative;
}

.flexbox
{
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
	align-items:center;
}

.progressbars
{
	width: 100%;
	text-align: center;
	position: relative;
}

.progressbars span
{
	position: relative;
	float: left;
	text-align: center;
	vertical-align: middle;
	display: block;
}
.barbg
{
	display: flex;
	align-items:center;
	width: 88%;
	position: relative;
	background-clip:content-box;
	background-color: rgba(140,140,140,0.7);
}

.bar
{
	width: 100%;
	position: relative;
	background-color: red;

}

.progress
{
	position: relative;
	background-color: red;
	background-clip: content-box;
	border-radius: 50%;
	position: relative;
	z-index: 15;
	cursor: pointer;
}

.buttons
{
	width: 100%;
	text-align: center;
	cursor:pointer;
	z-index: 14;
}

.buttons > div
{
	position: relative;
	display: inline-block;
}

.play
{
	border:2;
	background-image: url("../img/play.svg");
	
	background-size: contain;
	border-radius: 50%;
}

.pause
{
	border:2;
	background-image: url("../img/pause.svg");
	
	background-size: contain;
	border-radius: 50%;
}

.next
{
	background-image: url("../img/next.svg");
	
	background-size: contain;
}

.prev
{
	background-image: url("../img/prev.svg");
	
	background-size: contain;
}

.loop
{
	background-image: url("../img/loop.svg");
	
	background-size: contain;
}

.loopone
{
	background-image: url("../img/loopone.svg");
	
	background-size: contain;
}

.shuffle
{
	background-image: url("../img/shuffle.svg");
	
	background-size: contain;
}

.buttons>:last-child
{
}

.list
{
	background-image: url("../img/list.svg");
	background-size: contain;
}

.listcontainer
{
	background-color: rgba(255,251,240,0.7);
	cursor: initial;
	display: none;
}


.listcontainer *
{
	overflow: hidden;
}

.listcontainer>:first-child
{
	width: 100%;
    border-bottom: solid 1px #222;
}
.listcontainer>:first-child>:first-child
{
	margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    color: #000;
}

.listcontainer>:last-child
{
	width: 100%;
    position: relative;
    overflow: hidden;
}

.listcontainer>div>ul
{
	width: 100%;
    height: 100%;
    position: relative;
    overflow:auto;
 /*   overflow-y:scroll;
    overflow-x:hidden;*/
}

.listcontainer li{
	width: 100%;
	display: block;
	position: relative;
	border-bottom: solid 1px #666;
	cursor: pointer;
}

.listcontainer li>:first-child
{
	height: 100%;
	text-align: left;
}

.listcontainer li>:first-child *
{
	display: block;
	position: relative;
	color: #555;
	float: left;
}

.listcontainer li>:first-child div>:first-child
{
	float: left;
	color: #777;
	display: block;
	overflow: hidden;
    	white-space: nowrap;
}

.listcontainer li>:first-child div *
{
	color: #777;
	width: 100%;
	display: block;
}

.listcontainer li>:first-child>:last-child
{
	color: #777;
	top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    padding-right: 15px;
}

.good
{
	display: none;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    vertical-align: middle;
}

@keyframes listshow-portrait
{
	0%{
		margin-top: -750%;
		filter:alpha(opacity=0);
		-moz-opacity:0;
		-webkit-opacity:0;
		-o-opacity:0;
		opacity: 0;
	}
	100%
	{
		margin-top: -1020%;
		filter:alpha(opacity=100);
		-moz-opacity:1;
		-webkit-opacity:1;
		-o-opacity:1;
		opacity: 1;
	}
}

@keyframes listhide-portrait
{
	0%{
		margin-top: -1020%;
		filter:alpha(opacity=100);
		-moz-opacity:1;
		-webkit-opacity:1;
		-o-opacity:1;
		opacity: 1;
	}
	100%
	{
		margin-top: -750%;
		filter:alpha(opacity=0);
		-moz-opacity:0;
		-webkit-opacity:0;
		-o-opacity:0;
		opacity: 0;
	}
}

@keyframes listshow-landscape
{
	0%{
		margin-left: -42vh;
		filter:alpha(opacity=0);
		-moz-opacity:0;
		-webkit-opacity:0;
		-o-opacity:0;
		opacity: 0;
	}
	20%
	{
		margin-left: 0vh;
		filter:alpha(opacity=0);
		-moz-opacity:0;
		-webkit-opacity:0;
		-o-opacity:0;
		opacity: 0;
	}
	100%
	{
		margin-left: 15vh;
		filter:alpha(opacity=100);
		-moz-opacity:1;
		-webkit-opacity:1;
		-o-opacity:1;
		opacity: 1;
	}
}

@keyframes listhide-landscape
{
	0%{
		margin-left: 15vh;
		filter:alpha(opacity=100);
		-moz-opacity:1;
		-webkit-opacity:1;
		-o-opacity:1;
		opacity: 1;
	}
	80%
	{
		margin-left: 0vh;
		filter:alpha(opacity=0);
		-moz-opacity:0;
		-webkit-opacity:0;
		-o-opacity:0;
		opacity: 0;
	}
	100%
	{
		margin-left: -42vh;
		filter:alpha(opacity=0);
		-moz-opacity:0;
		-webkit-opacity:0;
		-o-opacity:0;
		opacity: 0;
	}
}
