#Ted .main-border
{
    width:300px;
    height:500px;
    border:1px solid #888888;
    border-radius:10px;
    box-shadow: 5px 5px 3px #888888;
    padding:10px;
    background:white;
    font-family:Microsoft YaHei;
    margin:0 auto;
}

#Ted .main-bg
{
    background-color:#f3726d;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height: 60px;
}

#Ted .container
{
    background:white;
}

#Ted .title
{
    height:45px;
    padding-top:5px;
    color:white;
}

#Ted .name
{
    margin-left:25px;
    font-size:170%;
}
#Ted .w{
    color:white !important;
}
#Ted .b{
    color:#f3726d;
}
#Ted .normal
{
    display: inline-block;
    color:#f3726d;
}

#Ted .type
{
    margin-left:115px;
    text-align:right;
}

#Ted .PinYin
{
    font-size:90%;
}

#Ted .icon
{
    margin-top:20px;
    margin-left:60px;
    width:180px;
    height:180px;
    border:1px solid #888888;
    border-radius:10px;
    box-shadow: 1px 1px 1px #888888;
}

#Ted .ability-container
{
    color:#f3726d;
    width: 260px;
    margin-top: 15px;
    margin-left: 35px;
}

#Ted .ability-container > div
{
    height:25px;
}

#Ted .ability-slot-container
{
    width: 160px;
    margin-left:10px;
}

#Ted .ability
{

    height:11px;
    background:#f3726d;
}

#Ted .skill-container
{
    margin-top:13px;
    margin-left:5px;
    color:white;
}

#Ted .skill-border
{
    width:40px;
    height:40px;
    border-radius:7px;
    background:#f3726d;
}

#Ted .skill
{
    margin-top:10px;
    text-align:center;
    font-size:80%;
    font-weight:bold;
}